@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<style>
    .profile-head {
        transform: translateY(5rem)
    }

    .cover {
        background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
        background-size: cover;
        background-repeat: no-repeat;
    }
    html {
        scroll-behavior: smooth;
    }
</style>

<div class="row">
    <div class="mx-auto w-100">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-5 pt-0 pb-4 cover">
                <div class="d-flex align-items-center justify-content-between mb-3">
                </div>
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        @if (Model.ProfilePicUrl != null)
                        {
                            <img src="@Model.ProfilePicUrl" width="130" class="rounded mb-2 img-thumbnail">
                        }
                        else
                        {
                            <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" width="130" class="rounded mb-2 img-thumbnail">
                        }
                        <a class="btn btn-outline-dark btn-sm btn-block" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.Username</h4>
                        <p class="small mb-4">@Model.Email</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-dark" href="#Wardrobe">
                            <h5 class="font-weight-bold mb-0 d-block">@Model.Wears.Count</h5><small class="text-muted">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-4.578 2.441a.5.5 0 0 1-.47 0L3.188 8z" />
                                <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z" />
                            </svg>
                            Cloaths</small>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-dark" asp-controller="Friends" asp-action="Followers">
                            <h5 class="font-weight-bold mb-0 d-block">@Model.Followers.Count</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-dark" asp-controller="Friends" asp-action="Following">
                            <h5 class="font-weight-bold mb-0 d-block">@Model.Following.Count</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                        </a>
                    </li>
                </ul>
            </div>
            <section name="Wardorobe" id="Wardrobe">
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Cloaths</h5>
                    </div>
                    <div class="row text-center text-lg-left">
                        @if (Model.Wears.Count == 0)
                        {
                            <div class="w-100">
                                <p class="text-center text-muted mt-5">
                                    No clothes added yet
                                </p>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Wears)
                            {
                                <div class="col-lg-3 col-md-4 col-6">
                                    <a class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail" src="@item.ImageUrl" alt="">
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>