@model IndexFeedViewModel
@{
    ViewData["Title"] = "Feed";
}

<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0  text-light">@ViewData["Title"]</h1>

<hr class="mt-2 mb-5 bg-light">
<div class="col-sm-8 mx-auto">
    @if (Model.OutfitPosts.Count() == 0 && Model.WearPosts.Count() == 0)
    {
        <p class="text-center text-white">
            No posts.
        </p>
    }
    else if (Model.OutfitPosts.Count() == 0)
    {
        <p class="text-center text-white">
            No posted outfits.
        </p>
    }
    else if (Model.OutfitPosts.Count() == 0)
    {
        <p class="text-center text-white">
            No posted wears.
        </p>
    }
    @foreach (var item in Model.OutfitPosts)
    {
        <section id="@item.Post.Id">
            <div class="card mt-4">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="p-2">
                            @if (item.Post.Outfit.Top.Owner.ProfilePicture != null)
                            {
                                <a href="/User/Profile?id=@item.Post.Outfit.Top.Owner.Id">
                                    <img src="@item.Post.Outfit.Top.Owner.ProfilePicture" width="70px" class="img-fluid">
                                    <span class="text-dark">
                                        @item.Post.Outfit.Top.Owner.UserName
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a href="/User/Profile?id=@item.Post.Outfit.Top.Owner.Id">
                                    <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" width="70px" class="img-fluid">
                                    <span class="text-dark">
                                        @item.Post.Outfit.Top.Owner.UserName
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <img class="w-25 rounded mx-auto d-block" src="@item.Post.Outfit.Top.ImageUrl" alt="There was a problem to load this image" />
                        </div>
                        <div class="row">
                            <img class="w-25 rounded mx-auto d-block" src="@item.Post.Outfit.Middle.ImageUrl" alt="There was a problem to load this image" />
                        </div>
                        <div class="row">
                            <img class="w-25 rounded mx-auto d-block" src="@item.Post.Outfit.Bottom.ImageUrl" alt="There was a problem to load this image" />
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted w-100">
                    <div class="row align-items-center">
                        <div class="col-8">
                            
                        </div>
                        <div class="col-auto">
                            Created on: @item.Post.CreatedOn.ToShortDateString()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    @foreach (var item in Model.WearPosts)
    {
        <section id="@item.Post.Id">
            <div class="card mt-4">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="p-2">
                            @if (item.Post.Wear.Owner.ProfilePicture != null)
                            {
                                <a href="/User/Profile?id=@item.Post.Wear.Owner.Id">
                                    <img src="@item.Post.Wear.Owner.ProfilePicture" width="70px" class="img-fluid">
                                    <span class="text-dark">
                                        @item.Post.Wear.Owner.UserName
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a href="/User/Profile?id=@item.Post.Wear.Owner.Id">
                                    <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" width="70px" class="img-fluid">
                                    <span class="text-dark">
                                        @item.Post.Wear.Owner.UserName
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <img class="w-25 rounded mx-auto d-block" src="@item.Post.Wear.ImageUrl" alt="There was a problem to load this image" />
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row align-items-center">
                        <div class="col-8">
                            
                        </div>
                        <div class="col-auto">
                            Created on: @item.Post.CreatedOn.ToShortDateString()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>